<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="*" path="*"
        name="AleHttpHandler"
        type="ALE.Web.AleHttpHandler"/>
    </handlers>
  </system.webServer>
</configuration>
